// Basic set up
* {
  font-weight: 400;
  box-sizing: border-box;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-oÏ€sx-font-smoothing: grayscale;
}

html,
body {
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
  font-family: "ExensaGrotesk", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: #ddd5cb;
  background: #181111;
}

// TO DO : BACKGROUND NOT APPEARING, TEST IT OUT IN THE LAYOUT
body::before {
  content: "";
  position: fixed;
  width: 100%;
  // height: 100vh;
  z-index: -1;
  // background: radial-gradient(#212224 0%, #181111 99.48%);
}

img {
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  pointer-events: auto;
  color: inherit;
  font-family: inherit;
}

input {
  outline: none;
  background: transparent;
}

.arrow path {
  stroke-dasharray: 100px;
}

.snap-parent-mandatory {
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.snap-child-start {
  z-index: 10;
  scroll-snap-align: start;
  // flex: none;
}

.snap-child-end {
  z-index: 10;
  scroll-snap-align: center;
  // flex: none;
}

.snap-child-end {
  z-index: 10;
  scroll-snap-align: end;
  // flex: none;
}

#CustomCursor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  pointer-events: none;
  z-index: 99;
  transform: translate(6px, 6px);
  transition: all ease-out 0.25s;
  border: 1px solid red;
  width: 100px;
  transition-property: width, transform, background-color, backdrop-filter;

  &.hovered {
    background-color: rgba(25, 25, 23, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid transparent;

    height: 40px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
