// Basic set up
* {
  overscroll-behavior: none;
  font-weight: 400;
  box-sizing: border-box;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  // overflow-y: hidden;
  padding: 0;
  margin: 0;
  font-family: "ExensaGrotesk", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  color: #ddd5cb;
  // cursor: none;
}

#App {
  background: url("/assets/utils/noise.png"),
    radial-gradient(#212224 0%, #181111 99.48%);
}

#Home {
  background: url("/assets/photos/heroVideo_placeholder.");
}

::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  pointer-events: auto;
  color: inherit;
  font-family: inherit;
}

#CustomCursor {
  display: block;
  position: fixed;
  pointer-events: none;
  z-index: 99;
  width: 36px;
  height: 36px;
  border: 1px solid #191917;
  // border: 4px solid $deepOrange;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: all ease-out 0.25s;
  transition-property: width, transform, background-color, backdrop-filter;

  &.hovered {
    background-color: rgba(25, 25, 23, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
  }
}
